<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Success</title>
</head>
    <body>
        
        <section class="c-container">
  
            <div class="o-circle c-container__circle o-circle__sign--success">
              <div class="o-circle__sign"></div>  
            </div>   
            <div class="status_text">
                <div>Google form generated successfully !</div>
                <a href="<%=gform_link%>">Click here to view.</a>
            </div>
        </section>
          
          
    </body>
</html>